#main {width:980px; margin:0 auto;}

#header {height:636px; background:url(images/header-bg.jpg) no-repeat left top;}
#header, #content, #footer { font-size:0.814em;}

.col-1, .col-2, .col-3 { float:left;}

/*======= index.html =======*/
#page1 #content .row-1 .col-1 {width:523px;}
#page1 #content .row-1 .col-2 { width:361px;}
#page1 #content .row-2 .col-1 {width:285px; margin-right:15px;}
#page1 #content .row-2 .col-2 {width:285px; margin-right:15px;}
#page1 #content .row-2 .col-3 {width:285px;}

/*======= index-1.html =======*/
#page2 #content .row-1 .col-1 {width:580px; margin-right:20px;}
#page2 #content .row-1 .col-2 { width:284px;}
#page2 #content .row-2 .col-1 {width:585px; margin-right:15px;}
#page2 #content .row-2 .col-1 .col-1 {
	width:170px;
	margin-right:0;
}
#page2 #content .row-2 .col-1 .col-2 {
	width:348px;
}
#page2 #content .row-2 .col-2 {width:285px;}

/*======= index-2.html =======*/
#page3 #content .row-1 .col-1 {width:433px; margin-right:20px;}
#page3 #content .row-1 .col-2 { width:431px;}
#page3 #content .row-2 .col-1 {width:285px; margin-right:15px;}
#page3 #content .row-2 .col-2 {width:285px; margin-right:15px;}
#page3 #content .row-2 .col-3 {width:285px;}

/*======= index-3.html =======*/
#page4 #content .row-1 .col-1 {width:580px; margin-right:20px;}
#page4 #content .row-1 .col-2 { width:284px;}
#page4 #content .row-2 .col-1 {width:585px; margin-right:15px;}
#page4 #content .row-2 .col-1 .col-1 { width:181px; margin-right:0;}
#page4 #content .row-2 .col-1 .col-2 { width:181px;}
#page4 #content .row-2 .col-1 .col-3 { width:158px;}
#page4 #content .row-2 .col-2 {width:285px;}

/*======= index-4.html =======*/
#page5 #content .row-1 .col-1 {width:580px; margin-right:20px;}
#page5 #content .row-1 .col-1 .col-1 { width:235px; margin-right:46px;}
#page5 #content .row-1 .col-1 .col-2 { width:247px;}
#page5 #content .row-1 .col-2 { width:284px;}
#page5 #content .row-2 .col-1 {width:585px; margin-right:15px;}
#page5 #content .row-2 .col-1 .col-1 { width:260px; margin-right:25px;}
#page5 #content .row-2 .col-1 .col-2 { width:250px;}
#page5 #content .row-2 .col-2 {width:285px;}

/*======= index-5.html =======*/
#page6 #content .row-1 .col-1 {width:580px; margin-right:20px;}
#page6 #content .row-1 .col-1 .col-1 { width:235px; margin-right:46px;}
#page6 #content .row-1 .col-1 .col-2 { width:247px;}
#page6 #content .row-1 .col-2 { width:284px;}
#page6 #content .row-2 .col-1 {width:585px; margin-right:15px;}
#page6 #content .row-2 .col-1 .col-1 { width:273px; margin-right:0;}
#page6 #content .row-2 .col-1 .col-2 { width:255px;}
#page6 #content .row-2 .col-2 {width:285px;}


/*=========================*/


#footer {height:157px; margin-top:-157px; position:relative;}
