* { margin:0; padding:0;}
body { background:#240101; font-family:Arial, Helvetica, sans-serif; font-size:100%; line-height:1em; color:#393939;}

input, textarea { font-family:Arial, Helvetica, sans-serif; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper, block { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin:0; padding:0;}

.tail-top { background:url(images/tail-top.gif) left top repeat-x #000;}
.tail-bottom { background:url(images/tail-bottom.gif) repeat-x bottom;}


/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}

.form { width:100%; overflow:hidden; height:26px;}
.form1 { height:35px;}
.form label, .form input, .form select, .form1 label, .form1 input, .form1 select { float:left;}
.form label, .form1 label { color:#949191; margin-right:18px; font-size:.92em;}
.form input, .form1 input, .form select { font-size:.85em;}
.form select { background:#747474; border-top:1px solid #1b1b1b; border-left:1px solid #1b1b1b; border-bottom:1px solid #5c5c5c; border-right:1px solid #5c5c5c; width:144px;}
.form label.lab-1 { width:100px; margin:0;}
.form label.lab-2 { color:#fff; float:right; margin:0;}
.form label.lab-3, .form1 label.lab-3 { width:88px; margin:0;}
.form input.inp-1 { border:0; width:11px; height:11px; margin:2px 10px 0 0;}
.form input.inp-2, .form1 input.inp-2 { background:#747474; padding:1px 0 1px 3px; border-top:1px solid #1b1b1b; border-left:1px solid #1b1b1b; border-bottom:1px solid #5c5c5c; border-right:1px solid #5c5c5c; width:140px;}

.form2 { height:40px;}
.form2 label, .form3 label { color:#949191; display:block;}
.form2 input {width:233px; padding:2px 0 2px 3px;  background:#747474; padding:1px 0 1px 3px; border-top:1px solid #1b1b1b; border-left:1px solid #1b1b1b; border-bottom:1px solid #5c5c5c; border-right:1px solid #5c5c5c;}
textarea {
	width:350px;
	height:96px;
	overflow:auto;
	background:#747474;
	border-top:1px solid #1b1b1b;
	border-left:1px solid #1b1b1b;
	border-bottom:1px solid #5c5c5c;
	border-right:1px solid #5c5c5c;
	padding:2px 0 0 3px;
	margin-bottom:20px;
}


/*==================list====================*/
ul { list-style:none;}

.site-nav { width:100%; overflow:hidden;}
.site-nav li { display:inline; font-size:.92em; text-transform:uppercase;}
.site-nav li a {
	color:#fff;
	text-decoration:none;
	width:160px;
	display:block;
	float:left;
	background:url(images/nav-tail.gif) repeat-x top;
	text-align:center;
	margin-right:1px;
}
.site-nav li a em { background:url(images/nav-left.gif) no-repeat left top; display:block;}
.site-nav li a b { font-style:normal; font-weight:normal; padding:26px 0 23px 0; display:block; background:url(images/nav-right.gif) no-repeat right top;}
.site-nav li a:hover { background:url(images/nav-act-tail.gif) repeat-x top;}
.site-nav li a:hover em { background:url(images/nav-act-left.gif) no-repeat left top;}
.site-nav li a:hover b { background:url(images/nav-act-right.gif) no-repeat right top;}
.site-nav li a.act { background:url(images/nav-act-tail.gif) repeat-x top;}
.site-nav li a.act em { background:url(images/nav-act-left.gif) no-repeat left top;}
.site-nav li a.act b { background:url(images/nav-act-right.gif) no-repeat right top;}

.list { margin-top:-9px;}
.list li { background:url(images/marker-2.gif) no-repeat left 16px; padding:9px 0 0 9px; color:#fff;}
.list li a { color:#fff;}

.list1 { margin-top:-9px;}
.list1 li { background:url(images/marker-2.gif) no-repeat left 16px; padding:9px 0 0 9px; color:#565656;}
.list1 li a { color:#565656;}

/*==================other====================*/
.img-box img { margin-bottom:3px; display:block;}
.img-box .inner { padding:0 0 0 25px;}

.img-box1 { width:100%; overflow:hidden;}
.img-box1 img { float:left; margin:0 17px 0 0;}

.p1 { margin-bottom:16px;}

.phone { float:right; margin-right:50px;}


/*==================txt, links, lines, titles====================*/
a {color:#dedede;}
a:hover{text-decoration:none;}

h4 { font-size:1em; text-transform:uppercase; color:#dd0f0f; font-weight:normal; margin-bottom:5px; line-height:1.31em;}
h5 { color:#dedede; font-size:1em; font-weight:normal; margin-bottom:5px;}
h5 span { font-size:.92em; margin-bottom:10px; display:block;}
h5 a {color:#dedede;}

.link1 { position:relative; margin-top:-96px; margin-right:-8px;}  
.link1 a { display:block; float:right; background:url(images/link1-bgd.gif) left top repeat-x; color:#fff; text-decoration:none; font-size:1.23em;}
.link1 a em { display:block; background:url(images/link1-left.gif) no-repeat left top;}
.link1 a b { display:block; background:url(images/link1-right.gif) no-repeat right top; width:64px; padding:14px 10px 60px 134px; text-align:center; font-weight:normal; font-style:normal; cursor:pointer;}
.link1 a:hover { text-decoration:underline;}

.link2 { position:relative; text-align:right; margin-bottom:-94px; top:-174px; z-index:3;}   
.link2 a { display:inline-block;  background:url(images/link2-bgd.gif) left top repeat-x; color:#fff; text-decoration:none; font-size:1.08em;}
.link2 a em { display:inline-block; background:url(images/link2-left.gif) no-repeat left top;}
.link2 a b { display:inline-block; background:url(images/link2-right.gif) no-repeat right top; width:87px; padding:14px 15px 60px 129px; text-align:center; font-weight:normal; font-style:normal; cursor:pointer;}
.link2 a:hover { color:#000;}


/*==================boxes====================*/
.box { background:#272727; width:100%;}
.box .border-top {background:url(images/border-top.gif) repeat-x top;}
.box .border-bot {background:url(images/border-bot.gif) repeat-x bottom;}
.box .border-left {background:url(images/border-left.gif) repeat-y left;}
.box .border-right {background:url(images/border-right.gif) repeat-y right;}
.box .left-top-corner {background:url(images/left-top-corner.gif) no-repeat left top;}
.box .right-top-corner {background:url(images/right-top-corner.gif) no-repeat right top;}
.box .left-bot-corner {background:url(images/left-bot-corner.gif) no-repeat left bottom; width:100%;}
.box .right-bot-corner {background:url(images/right-bot-corner.gif) no-repeat right bottom; }
.box h3 { color:#fff; font-size:3em; font-weight:normal; line-height:.92em; margin-bottom:8px;}
.box h4 {
	font-size:1.31em;
	font-weight:normal;
	color:#dedede;
	line-height:1.24em;
	margin-bottom:10px;
	text-transform: none;
}
.box p { color:#484848; font-size:1.08em;}
.box p a.link img { margin-top:6px;}
.box .inner { padding:30px 52px 106px 25px; min-height:113px; height:auto!important; height:113px;}

.box1 { background:#1b1b1b; width:100%;}
.box1 .border-bot { background:url(images/border-bot1.gif) repeat-x bottom;}
.box1 .left-top-corner {background:url(images/left-top-corner1.gif) no-repeat left top;}
.box1 .right-top-corner {background:url(images/right-top-corner1.gif) no-repeat right top;}
.box1 .left-bot-corner {background:url(images/left-bot-corner1.gif) no-repeat left bottom; width:100%;}
.box1 .right-bot-corner {background:url(images/right-bot-corner1.gif) no-repeat right bottom; }
.box1 h3 { font-size:1.92em; color:#fff; font-weight:normal; line-height:1.08em; margin-bottom:9px;}
.box1 p { color:#565656; line-height:1.31em;}
.box1 .inner { padding:15px 18px 106px 18px;}

.box2 { background:#292929; width:100%;}
.box2 .border-top {background:url(images/border-top1.gif) repeat-x top;}
.box2 .border-bot {background:url(images/border-bot2.gif) repeat-x bottom;}
.box2 .left-top-corner {background:url(images/left-top-corner2.gif) no-repeat left top;}
.box2 .right-top-corner {background:url(images/right-top-corner2.gif) no-repeat right top;}
.box2 .left-bot-corner {background:url(images/left-bot-corner2.gif) no-repeat left bottom; width:100%;}
.box2 .right-bot-corner {background:url(images/right-bot-corner2.gif) no-repeat right bottom; }
.box2 h3 { color:#fff; font-size:1.77em; font-weight:normal; margin-bottom:8px; padding:18px 0 14px 18px;}
.box2 p { color:#7f7c7c; line-height:1.31em;}
.box2 cite { font-style:normal; display:block; color:#7f7c7c; line-height:1.31em;}
.box2 .inner { padding:18px 20px 188px 25px;}


/*header*/
#header .row-1 { padding:47px 0 37px 50px;}
#header .row-2 {
	padding:0 0 0 326px;
	text-align: center;
}
#header .slogan {
	padding:186px 0 0 0px;
}

/*content*/
#content { padding:2px 51px 0 44px;}

/*footer*/
#footer p { color:#fff; padding:77px 0 0 50px;}
#footer p a { color:#7c0b0b; text-decoration:none;}
#footer p a:hover { text-decoration:underline;}

/*==========================================*/
